* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
div.relative {
    position: relative;
}
div.absolute {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../img/logo + site.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}